[Desktop Entry]
Name=TheFatRat 
Comment=Massive Exploiting Tool Revealed - An easy tool to generate backdoor & post exploitation attack.
Exec=gnome-terminal -t "TheFatRat 1.9.5" --geometry=600x630 -e "bash -c 'fatrat';-bash"
Icon=/usr/share/icons/fatrat.ico
Terminal=true
Type=Application
StartupNotify=false
